<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=productname %></title>
</head>
<body>
   <h1>
    <%=productname %>-<%=price %>
   </h1> 
   <%if(price<=200000){%>
 <p>This is a cheap product</p>
<% }else{
    %> 
    <p>Kidney bchna padega</p> <%
} %>
</body>
</html>